//This file adds media queries and for responsiveness


//Wide screens -- 1171px and above
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}
//Desktops and laptops -- 769px to 1170 px
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
//Tablets and small laptops -- 768px to 501px
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
   div.menu-branding {
    float:none;
    width:100%;
    min-height: 0;

    &.show {
      transform: translate3d(0,0,0);
    }

    &.nav-item{
      color:red;
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%,0,0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%,0,0);

    .portrait {
      background: url('../img/portrait_small.png');
      width: 150px;
      height: 150px;
    }
  }

  .about-info { //Stack about elements on small screens
    grid-template-areas:
    'bioimage'
    'bio'
    'job1'
    'job2'
    'job3';

    //One column on small screens
    grid-template-columns: 1fr; 
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
//Mobile phones -- 500px and smaller
@include mediaSm {
  main#home h1{
    margin-top:10vh;
  }

  .projects {
    grid-template-columns: 1fr;
  }
}
